**/.DS_STORE
**/*.pyc
**/*.swp
MANIFEST
*.egg-info
\.idea/
/.idea
/data
/misc
/wandb
/models
/.ipynb_checkpoints
.DS_Store
__pycache__/
._*
.pyc
.vscode/
*.pyc
.pytest_cache/
*.sif
textures/
checkpoints/
wandb/
outcmaes/
test.py
experiments/
*.mp4
saved_models_metamorphosis/